<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>用户列表</div>
<a href="/info/add/">添加</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
     {% for obj in data_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.password }}</td>
            <td>{{ obj.age }}</td>
            <td><a href="/info/delete/?id={{ obj.id }}">删除</a></td>
        </tr>
    {% endfor %}
    </tbody>

</table>
</body>
</html>